.confirm-container{
    display:flex !important;
}
.confirm-img{
    max-height: 500px;
    display:flex !important;
    flex-direction: column;
    overflow-x: hidden;
}
.confirm-img img{
    max-width: 300px;
}
.confirm-container div{
    display:flex !important;
    flex-direction: column;
}

.confirm-container div div p:nth-child(1){
    font-size: 40px;

}

.confirm-container div div button{
    border: none;
    outline: none;
    background-color: rgb(32, 0, 61);
    color:white;
    border-radius: 20px;
    padding :20px;
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
}

.confirm-container div div button:hover{
    letter-spacing: 5px;
}